{% extends 'base.html' %}

{% block title %}
<title>home page</title>
{% endblock title %}


{% block body %}
<div class="container my-3">

<img src="static\img\new5.jpg" class="d-block w-100 H-50" alt="...">

<div class="row mb-2">
{% for blog in blogs %}
    <div class="col-md-6 my-3">
      <div class="row no-gutters border rounded overflow-hidden
       flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          

          <h3 class="mb-0">{{blog.title}}</h3>
          <div class="mb-1 text-muted">{{blog.date}}</div>
          <b>posted by:->{{blog.user_id.username}}</b>
          <p class="card-text mb-auto">{{blog.dsc}}</p>
          
          <a href="blog_detail/{{blog.id}}" class="stretched-link btn btn-success">Continue reading</a>
        </div>
        
      </div>
    </div>
   {% endfor %}
  </div>

</div>



{% endblock body %}